<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
    <div th:replace="template :: header"></div>
    <title>Azuriraj stopu PDV</title>
</head>

<body>
<div th:insert="template :: navbar"></div>
<div class="container text-center">
    <div>
        <h1>Azuriranje podataka o stopi PDV</h1>
    </div>
    <form th:action="@{/stopaPdv/azuriraj}" th:method="POST"
          style="max-width: 600px; margin: 0 auto" th:object="${stopaPdv}">

        <input type="number" id="stopaId" th:field="*{id}" hidden required
               value="${stopaPdv.id}" />
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">Vrsta PDV</label>
                <div class=col-8>
                    <select name="pdv" id="pdv" class="form-control" th:field="*{pdv}">
                        <option th:each="pdv : ${listaPdv}" th:value="${pdv.id}"
                                th:text="${pdv.vrstaPdv}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Procenat</label>
                <div class=col-8>
                    <input type="text" class="form-control" th:field="*{procenat}"
                           required value="${stopaPdv.procenat}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Rok vazenja</label>
                <div class=col-8>
                    <input type="date" class="form-control" th:field="*{rokVazenja}"
                           required value="${stopaPdv.rokVazenja}" />
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Azuriraj
                podatke</button>
        </div>
    </form>
</div>
<div class="container text-center">
    <form th:action="@{/stopaPdv/izbrisi}" th:method="DELETE"
          style="max-width: 600px; margin: 0 auto" th:object="${stopaPdv}">
        <input type="number" hidden required name="stopaPdvIdDelete" id="stopaPdvIdDelete" />
        <button type="submit" class="btn btn-danger" style="margin: 15px">Obrisi stopu PDV</button>
    </form>
</div>
<div th:replace="template :: scriptFrag"></div>
<script>
    $(document).ready(function() {
        var stopaId = $('#stopaId').val();
        $('#stopaPdvIdDelete').attr('value',stopaId);
    });
</script>
</body>
</html>