<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
  <div th:replace="template :: header"></div>
  <title>Dodaj narudzbenicu</title>
</head>

<body>
<div th:insert="template :: navbar"></div>
<div class="container text-center">
  <div>
    <h1>Dodaj narudzbenicu</h1>
  </div>
  <form th:action="@{/narudzbenica/dodavanje}" th:method="POST"
        style="max-width: 600px; margin: 0 auto"
        th:object="${narudzbenica}">


    <div class="form-group row">
      <label class="col-form-label col-4">Poslovni partner</label>
      <div class=col-8>
        <select th:field="*{poslovniPartner}" class="form-control">
          <option th:if="${tipNarudzbenice == 0}"
                  th:value="0"
                  th:text="kupci">kupci</option>
          <option th:if="${tipNarudzbenice == 1}"
                  th:value="1"
                  th:text="dobavljaci">dobavljaci</option>
          <option th:each="poslovniPartner : ${listaPoslovnihPartnera}" th:value="${poslovniPartner.id}"
                  th:text="${poslovniPartner.nazivPoslovnogPartnera}" th:selected="${tipNarudzbenice}"></option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
  </form>
</div>
<div th:replace="template :: scriptFrag"></div>
</body>
</html>