<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
  <div th:replace="template :: header"></div>
  <title>Knjige faktura</title>
</head>

<body>
<div th:insert="template :: navbar"></div>
<div class="container ">
  <h1>Knjiga ulaznih faktura</h1>
  <div>
    <h1 th:if="${pocetak!=null}" th:text="'u periodu od ' + ${pocetak} + ' do ' + ${kraj}"></h1>
  </div>
  <form th:action="@{/prikaziKnjiguFaktura}" method="post"
        style="max-width: 600px; margin: 0 auto">
    <input
            id="tipFakture" type="text"
            th:value="false"
            name="tipFakture" hidden />
    <input
            id="startDate" type="date"
            th:value="${pocetak}"
            name="startDate" />
    <input
            id="endDate" type="date"
            th:value="${kraj}"
            name="endDate" />
    <div>
      <input type="submit" name="search" class="button btn-primary" value="Pretraga po datumu" />
    </div>


    <table id="customerTable" class="table">
      <thead>
      <tr>
        <th>Broj fakture</th>
        <th>Poslovni partner</th>
        <th>Datum fakture</th>
        <th>Datum valute</th>
        <th>Mesto</th>
        <th>Ukupan iznos fakture</th>
        <th>PDF izvestaj</th>
      </tr>
      </thead>
      <tbody>


      <tr th:each="faktura, rowStat: ${fakture}"
          th:style="${rowStat.even} ? 'color: gray' : 'color: blue;'">
        <td th:text="${faktura.brojFakture}">Broj fakture</td>
        <td th:text="${faktura.poslovniPartner.nazivPoslovnogPartnera}">Poslovni partner</td>
        <td th:text="${faktura.datumFakture}">Datum fakture</td>
        <td th:text="${faktura.datumValute}">Datum valute</td>
        <td th:text="${faktura.poslovniPartner.mesto.grad}">Mesto</td>
        <td th:text="${faktura.iznosZaPlacanje}">Ukupan iznos fakture</td>
        <td><a class="btn btn-primary"
               th:href="@{'/pdfFakture/' + ${faktura.id}}"
               role="button">PDF izvestaj</a></td>
        <td><a class="btn btn-primary"
               th:href="@{'/faktura/detalji/' + ${faktura.id}}"
               role="button">Detalji fakture</a></td>


      </tr>
      </tbody>
    </table>

    <input type="submit" name="print" class="btn-primary" value="PDF knjiga faktura" />

  </form>
</div>
</div>
<div th:replace="template :: scriptFrag"></div>
</body>
</html>