<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
    <div th:replace="template :: header"></div>
    <title>Kreiraj grupu robe</title>
</head>

<body>
<div th:insert="template :: navbar"></div>
<div class="container text-center">
    <div>
        <h1>Kreiraj grupu robe</h1>
    </div>
    <form th:action="@{/grupaRobe/kreiraj}" th:method="POST"
          style="max-width: 600px; margin: 0 auto" th:object="${grupaRobe}">

        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">Naziv grupe robe</label>
                <div class=col-8>
                    <input type="text" class="form-control" th:field="*{naziv}"
                           required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Preduzece</label>
                <div class=col-8>
                    <select name="preduzece" id="preduzece" class="form-control"
                            th:field="*{preduzece}">
                        <option th:each="preduzece : ${listaPreduzeca}"
                                th:value="${preduzece.id}" th:text="${preduzece.nazivPreduzeca}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">PDV</label>
                <div class=col-8>
                    <select name="pdv" id="pdv" class="form-control"
                            th:field="*{pdv}">
                        <option th:each="pdv : ${listaPdv}"
                                th:value="${pdv.id}" th:text="${pdv.vrstaPdv}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Kreiraj</button>
        </div>
    </form>
</div>
<div th:replace="template :: scriptFrag"></div>
</body>
</html>