<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
  <div th:replace="template :: header"></div>
  <title>Narudzbenice</title>
</head>

<body>
<div th:insert="template :: navbar"></div>
<div class="container ">
  <h1>Narudzbenice</h1>
  <div class="row col-md-12 table-responsive">
    <a class="btn btn-primary"
       th:href="@{'/narudzbenice?tipNarudzbenice=0'}"
       role="button" id="prikaziKupce">Ulazne naruzbenice</a> <a class="btn btn-warning"
                                                                 th:href="@{'/narudzbenice?tipNarudzbenice=1'}"
                                                                 role="button" id="prikaziDobavljace">Izlazne narudzbenice</a>
    <div th:if="${tipNarudzbenice == 3}">
      <table id="customerTable" class="table">
        <thead>
        <tr>
          <th>Broj narudzbenice</th>
          <th>Poslovni partner</th>
          <th>Azuriraj</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="narudzbenica, rowStat: ${narudzbenice}"
            th:style="${rowStat.even} ? 'color: gray' : 'color: blue;'">
          <td th:text="${narudzbenica.poslovnaGodina.godinaPoslovanja}">Broj narudzbenice</td>
          <td th:text="${narudzbenica.poslovniPartner.nazivPoslovnogPartnera}">Poslovni partner</td>
          <td><a class="btn btn-primary"
                 th:href="@{'/narudzbenice/azuriraj/' + ${narudzbenica.id}}"
                 role="button">Azuriraj</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${tipNarudzbenice == 0}">
      <table id="customerTable" class="table">
        <thead>
        <tr>
          <th>Broj narudzbenice</th>
          <th>Poslovni partner</th>
          <th>Azuriraj</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="narudzbenica, rowStat: ${narudzbeniceFilter}"
            th:style="${rowStat.even} ? 'color: gray' : 'color: blue;'">
          <td th:text="${narudzbenica.brojNarudzbenice}">Broj narudzbenice</td>
          <td th:text="${narudzbenica.poslovniPartner.nazivPoslovnogPartnera}">Poslovni partner</td>
          <td><a class="btn btn-primary"
                 th:href="@{'/narudzbenice/azuriraj/' + ${narudzbenica.id}}"
                 role="button">Azuriraj</a></td>
        </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" th:href="@{'/narudzbenica/dodavanje/'+ ${tipNarudzbenice}}"
         role="button">Dodaj narudzbenicu</a>
    </div>
    <div th:if="${tipNarudzbenice == 1}">
      <table id="customerTable" class="table">
        <thead>
        <tr>
          <th>Broj narudzbenice</th>
          <th>Poslovni partner</th>
          <th>Azuriraj</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="narudzbenica, rowStat: ${narudzbeniceFilter}"
            th:style="${rowStat.even} ? 'color: gray' : 'color: blue;'">
          <td th:text="${narudzbenica.brojNarudzbenice}">Broj narudzbenice</td>
          <td th:text="${narudzbenica.poslovniPartner.nazivPoslovnogPartnera}">Poslovni partner</td>
          <td><a class="btn btn-primary"
                 th:href="@{'/narudzbenica/detalji/' + ${narudzbenica.id}}"
                 role="button">Detalji narudzbenice</a></td>
        </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" th:href="@{'/narudzbenica/dodavanje/'+ ${tipNarudzbenice}}"
         role="button">Dodaj narudzbenicu</a>
    </div>

  </div>
</div>
<div th:replace="template :: scriptFrag"></div>
</body>
</html>