<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
    <div th:replace="template :: header"></div>
    <title>Roba</title>
</head>

<body>
<div th:insert="template :: navbar"></div>
<div class="container ">
    <h1>Artikli robe</h1>
    <div class="row col-md-12 table-responsive">
        <table id="customerTable" class="table">
            <thead>
            <tr>
                <th>Naziv</th>
                <th>Jedinica mere</th>
                <th>Grupa robe</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="roba, rowStat: ${listaRobe}"
                th:style="${rowStat.even} ? 'color: gray' : 'color: blue;'">
                <td th:text="${roba.nazivRobe}">Naziv robe</td>
                <td th:text="${roba.jedinicaMere}">Jedinica mere</td>
                <td th:text="${roba.grupaRobe.naziv}">Stopa pdv</td>
                <td><a class="btn btn-primary"
                       th:href="@{'/roba/azuriraj/' + ${roba.Id}}" role="button">Azuriraj</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/roba/kreiraj}"
           role="button">Kreiraj novi artikal</a>
    </div>
</div>
<div th:replace="template :: scriptFrag"></div>
</body>
</html>