<!DOCTYPE html>
<html xmlns:th="http/www.thymeleaf.org">
<head>
    <th:block th:fragment="header">
        <meta charset="UTF-8">
        <link th:rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
        <link th:rel="stylesheet" th:href="@{/css/main.css} " />
    </th:block>
    <title>Template</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">Moje preduzece</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" th:href="@{/}">Pocetna
                <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/roba}">Roba</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/grupaRobe}">Grupa robe</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/poslovniPartneri}">Poslovni Partneri</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/mesto}">Mesto</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/stopaPdv}">Stopa PDV</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/cenovnici}">Cenovnici</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/narudzbenice}">Narudzbenice</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/otpremnice}">Otpremnice</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/fakture}">Fakture</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/knjigaUlaznihFaktura}">Knjiga ulaznih faktura</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/knjigaIzlaznihFaktura}">Knjiga izlaznih faktura</a></li>
        </ul>
    </div>
</nav>
<div class="container ">
    <h1>Template</h1>
    <th:block th:fragment="scriptFrag">
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </th:block>
</div>
</body>
</html>